/* App q2 */
.screen--intro {
  .graphic-1 {
    background-image: url("images/app/game/intro/Element 9.png");
    width: 360px;
    height: 200px;
    left: 100px;
    top: -80px;
    @media only screen and (min-width: $size-md) {
      top: -50px;
    }
  }
  .graphic-2 {
    background-image: url("images/app/game/intro/Element 10.png");
    width: 240px;
    height: 190px;
    left: 30px;
    top: -40px;
    @media only screen and (min-width: $size-md) {
      top: 30px;
    }
  }
  .graphic-3 {
    background-image: url("images/app/game/intro/Element 11.png");
    width: 350px;
    height: 190px;
    bottom: -40px;
    left: 0;
    right: 130px;
    margin: 0 auto;
  }
  .graphic-4 {
    background-image: url("images/app/game/intro/Element 12.png");
    width: 280px;
    height: 250px;
    bottom: -150px;
    right: -200px;
  }
}
