/* App q5 */

.q5 {
  .graphic-1 {
    background-image: url("images/app/game/screen3/Element 22.png");
    width: 110px;
    height: 500px;
    top: 0;
    left: -60px;
  }

  .graphic-2 {
    background-image: url("images/app/game/screen3/Element 23.png");
    width: 300px;
    height: 300px;
    bottom: -20px;
    right: 0;
  }

  .graphic-3 {
    background-image: url("images/app/game/screen3/Element 24.png");
    width: 400px;
    height: 400px;
    bottom: -150px;
    right: -100px;
  }

  .graphic-4 {
    background-image: url("images/app/game/screen3/Element 25.png");
    width: 180px;
    height: 560px;
    bottom: 200px;
    right: -20px;
  }
}
