/* Heading defaults */
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 700;
  line-height: 1.225;
  text-rendering: optimizelegibility;
  //text-transform: uppercase;
  a {
    text-decoration: none;
  }
}
